#alien{
    opacity: 1;
}
h1{
    color: aquamarine;
    padding:1rem;
    background-color: black;
}
a{
    text-decoration: none;
    color: aliceblue;
}
#listen{
    padding-top: 3rem;
    text-align: center;
    position: relative;
    right: 2rem;
    bottom: 12rem;
}

#jann{
    color: black;
    opacity: .8;
}
#content{
    height: 100rem;
}
#fix{
    /* background-image: url(./alien.jpg); */
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#truth{
    width:100%;
    height: auto;
}
#mas{
    height: 40rem;
    background-color: gold;
    text-align: center;
}
#songlist{
    padding: 2rem;
    margin: 1rem;
}